﻿table.sorting tr:not(.home){
    cursor: pointer;
}
.ui-state-highlight{
        border: 3px dashed #ccc;
}
/* ukrywanie loader dla span gdzie klasa jest ajax-text*/
span.ajax-text{
    display: none;
}

div.new-cat {
    margin-top: 30px;
    position: relative;
}

table.categories td{
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;
}